//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 15 15:42:02 2016
//! **************************************************************************

SCHEMATIC START;
COMP "left" LOCATE = SITE "C10" LEVEL 1;
COMP "hsync" LOCATE = SITE "D10" LEVEL 1;
COMP "right" LOCATE = SITE "C12" LEVEL 1;
COMP "reset" LOCATE = SITE "C13" LEVEL 1;
COMP "vsync" LOCATE = SITE "E9" LEVEL 1;
COMP "red_out" LOCATE = SITE "A10" LEVEL 1;
COMP "green_out" LOCATE = SITE "E11" LEVEL 1;
COMP "clk50mhz" LOCATE = SITE "B8" LEVEL 1;
COMP "blue_out" LOCATE = SITE "E10" LEVEL 1;
NET "clk50mhz_IBUFG1" BEL "clk50mhz_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

